* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  transition: 0.8s;
}

:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);

  --Instagram-Gradient-1: hsl(37, 97%, 70%);
  --Instagram-Gradient-2: hsl(329, 70%, 58%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --YouTube: hsl(348, 97%, 39%);

  --toggle: hsl(230, 22%, 74%);

  --bg: hsl(0, 0%, 100%);
  --card: hsl(227, 47%, 96%);
  --text: hsl(228, 12%, 44%);
  --text-2: hsl(230, 17%, 14%);
}

:root[data-theme="dark"] {
  --bg: hsl(230, 17%, 14%);
  --card: hsl(228, 28%, 20%);
  --text: hsl(228, 34%, 66%);
  --text-2: hsl(0, 0%, 100%);
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  display: grid;
  place-items: center;
}

header span,
.user,
.topo,
.followers,
h2 {
  font-weight: bold;
  color: var(--text);
}

main {
  margin: 2rem 1.5rem;
}

section h2 {
  margin: 3rem 0 2rem;
}

header {
  margin-bottom: 2rem;
}

header h1,
.qtd,
.card div:last-child span:first-child {
  color: var(--text-2);
}

header h1 {
  font-size: 1.3rem;
  margin-bottom: 0.2rem;
}

header h1 + span {
  font-weight: bold;
  font-size: 0.825rem;
}

header div:first-child {
  border-bottom: 1px solid var(--text);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

header div:last-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div:last-child span {
  font-size: 0.813rem;
}

.switch {
  height: 20px;
  width: 45px;
  border-radius: 25px;
  position: relative;
  background-color: var(--toggle);
  cursor: pointer;
}

.switch::before {
  content: "";
  display: block;
  background-color: var(--bg);
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
}

.switch.active {
  background-image: linear-gradient(
    to right,
    hsl(210, 78%, 56%) 10%,
    hsl(146, 68%, 55%)
  );
}

.switch.active::before {
  right: unset;
  left: 5px;
}

.top-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 0;
  border-radius: 0.3rem;
  border-top: 4px solid transparent;
  background-color: var(--card);
}

.top-card .user {
  font-size: 0.813rem;
}

.top-card .qtd {
  font-size: 3rem;
  display: block;
  font-weight: bold;
  text-align: center;
}

.top-card .followers {
  text-align: center;
  display: block;
  letter-spacing: 5px;
  font-weight: normal;
  font-size: 0.925rem;
}

.top-card span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.facebook {
  border-color: var(--Facebook);
}

.twitter {
  border-color: var(--Twitter);
}

.instagram {
  border-top: 4px solid transparent;
  border-image-source: linear-gradient(
    to right,
    var(--Instagram-Gradient-1) 20%,
    var(--Instagram-Gradient-2)
  );
  border-image-slice: 40;
}

.youtube {
  border-color: var(--YouTube);
}

.green,
.red {
  font-weight: bold;
  font-size: 0.813rem;
}

.green {
  color: var(--Lime-Green);
}

.red {
  color: var(--Bright-Red);
}

.card {
  padding: 1rem;
  background-color: var(--card);
  border-radius: 0.5rem;
}

.card > div {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card > div span:last-child {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.card > div span:first-child {
  font-size: 1.5rem;
  font-weight: bold;
}

.card .topo {
  font-size: 0.813rem;
}

.top-cards {
  display: grid;
  gap: 1.5rem;
}

.cards {
  display: grid;
  gap: 1rem;
}

@media (min-width: 700px) {
  main {
    width: 90%;
  }

  .top-cards,
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px) {
  .top-cards,
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }

  main {
    max-width: 1100px;
    width: 100%;
  }

  header h1 {
    font-size: 2rem;
  }

  header div:first-child {
    border: none;
  }
}
